@font-face {
    font-family: 'PT Serif';
    font-weight: normal;
    src: url('/fonts/PTSerif-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'PT Serif';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/PTSerif-Italic.ttf') format('truetype'),
}

@font-face {
    font-family: 'PT Serif';
    font-weight: bold;
    src: url('/fonts/PTSerif-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Work Sans';
    font-weight: bold;
    src: url('/fonts/WorkSans-Bold.ttf') format('truetype'),
}