@font-face {
    font-family: 'Inconsolata';
    font-weight: 400;
    src: url('/fonts/inconsolata-regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('/fonts/inconsolata-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inconsolata';
    font-weight: 700;
    src: url('/fonts/inconsolata-bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('/fonts/inconsolata-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
}