@mixin no-list-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.no-list-style {
  @include no-list-style;
}

@mixin section-with-margin {
  margin-bottom: 2em;
}

@mixin hidden-from-sm {
  @media (min-width: 768px) {
    display: none;
  }
}

@mixin hidden-from-xs {
  @media (min-width: 480px) {
    display: none;
  }
}

.hidden-from-sm {
  @include hidden-from-sm;
}

.hidden-from-xs {
  @include hidden-from-xs;
}

@mixin visible-from-sm {
  @media (max-width: 767px) {
    display: none !important;
  }
}

@mixin visible-from-xs {
  @media (max-width: 479px) {
    display: none !important;
  }
}

.visible-from-sm {
  @include visible-from-sm;
}

.visible-from-xs {
  @include visible-from-xs;
}

img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 479px) {
  .hide-for-large {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .hide-for-small {
    display: none;
  }
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin transform-style($val...) {
  -webkit-transform-style: $val;
  -moz-transform-style: $val;
  -ms-transform-style: $val;
  transform-style: $val;
}

@mixin transform($val...) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin transform-origin($val...) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  transform-origin: $val;
}

.p {
  &x {
    &-1 {
      padding: 0 1rem;
    }
  }
}