/*
    Variables
*/


:root {
    color-scheme: light;

    --vu-color-accent: hsl(145, 45%, 34%);
    --vu-bg-primary: hsl(30, 25%, 98%);
    --vu-text-primary: hsl(35, 57%, 19%);
    --vu-text-accent: var(--vu-color-accent);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --vu-color-accent: hsl(36, 100%, 83%);
    
        --vu-bg-primary: hsl(173, 11%, 16%);
        --vu-text-primary: hsl(38, 23%, 91%);
        --vu-text-accent: var(--vu-color-accent);
    }   
}

