@use "../config/" as v;
@use 'sass:math';

:root[data-theme="light"] {
    .site-header {
        --header-star-shape-fill: var(--vu-clr-accent);
        --header-name-color: var(--vu-text-primary);
        --header-job-color: var(--vu-text-primary);
        --header-toggle-fill: ;
    }
}

:root[data-theme="dark"] {
    .site-header {
        --header-star-shape-fill: var(--vu-clr-accent);
        --header-name-color: var(--vu-yellow-light);
        --header-job-color: var(--vu-yellow-light);
        --header-toggle-fill: var(--vu-clr-accent);
        ;
    }
}

.site-header {
    display: flex;
    gap: v.$unit * 3;

    @media (min-width: v.$breakpoint-sm) {
        align-items: center;
    }
}

.logo-star {
    display: none;

    @media (min-width: v.$breakpoint-sm) {
        height: auto;
        width: 76px;
        flex: none;
        display: block;

        path {
            fill: var(--header-star-shape-fill)
        }
    }
}




.site-header-title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .site-header-title-name {
        line-height: 1.6rem;
        font-weight: bold;
        margin-bottom: .1rem;
        color: var(--header-name-color);
    }

    .site-header-title-job {
        line-height: 1.2rem;
        font-weight: bold;
        color: var(--header-job-color);
    }
}


.theme-toggle {
    all: unset;
    display: flex;
    margin-left: auto;
    cursor: pointer;
    opacity: .5;
    transition: opacity .35s;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;

    width: clamp(30px, 1.5rem, 36px);
    height: clamp(30px, 1.5rem, 36px);

    @media (min-width: v.$breakpoint-sm) {
        align-self: center;
    }

    >svg {
        width: clamp(30px, 1.5rem, 36px);
        height: clamp(30px, 1.5rem, 36px);

        .sun,
        .moon {
            transition: transform .35s;
        }
    }

    &[data-theme="light"] {
        >svg .sun {
            transform: translateY(0);
            transition-delay: .25s;
            fill: var(--vu-clr-accent);
        }

        >svg .moon {
            transform: translateY(36px);
            transition-delay: 0s;
            fill: var(--vu-clr-accent);
        }
    }

    &[data-theme="dark"] {
        >svg .sun {
            transform: translateY(36px);
            transition-delay: 0s;
            fill: var(--vu-clr-accent);
        }

        >svg .moon {
            transform: translateY(0);
            transition-delay: .25s;
            fill: var(--vu-clr-accent);
        }
    }
}

.no-touch {
    .theme-toggle:hover {
        opacity: 1;
    }
}

.touch {
    .theme-toggle {
        transition-duration: 5s;
        
        &:active {
            opacity: 1;
            transition-duration: 0s;
        }
    }
}


.callout {
    font-family: var(--vu-fontstack-sans);
    font-weight: bold;
}


.text-link {
    text-decoration: none;
    line-height: 1;
    padding-bottom: 2px;
    color: var(--vu-text-accent);
    display: inline-block;
    position: relative;
    transition: color .15s;
    z-index: 10;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--vu-text-accent);
        transition: height .15s;
    }

    &:hover {
        color: var(--vu-bg-primary);

        &:after {
            height: 1em;
        }
    }
}

a[data-email] {
    cursor: pointer;
}

p.kontakt b {
    display: none;
}


.intro {
    margin-top: 4rem;

    @media (min-width: v.$breakpoint-sm) {
        margin-top: 6rem;
    }

    &__greeting,
    &__headline {
        @media (min-width: v.$breakpoint-sm) {
            font-size: 2.4rem;
        }
    }
}