@use "../config/" as v;

/*
    Styles for start page
*/

.intro {
    margin-top: 4rem;

    @media (min-width: v.$breakpoint-sm) {
        margin-top: 6rem;
    }

    &__greeting,
    &__headline {
        @media (min-width: v.$breakpoint-sm) {
            font-size: 2.4rem;
        }
    }
}


.text-link {
    color: var(--vu-text-accent);
    display: inline-block;
    width: fit-content;
    line-height: 1;
    padding-bottom: 2px;
    position: relative;
    text-decoration: none;
    transition: color .15s;
    z-index: 10;

    &:after {
        background-color: var(--vu-text-accent);
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        transition: height .15s;
        width: 100%;
        z-index: -1;
    }

    &:hover {
        color: var(--vu-bg-primary);

        &:after {
            height: 1em;
        }
    }
}

// Visually hide elements inserted by email obfuscation
p.contact b {
    display: none;
}

a[data-email] {
    cursor: pointer;
}