$duration-default: .5s;
$direction-default: normal;

#eWzj4tSKYev2_ts {
    animation: eWzj4tSKYev2_ts__ts $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev2_ts__ts {
    0% {
        transform: translate(64px, 63.931352px) scale(1, 1)
    }

    66% {
        transform: translate(64px, 63.931352px) scale(0.6, 0.6)
    }

    100% {
        transform: translate(64px, 63.931352px) scale(0.6, 0.6)
    }
}

#eWzj4tSKYev3_to {
    animation: eWzj4tSKYev3_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev3_to__to {
    0% {
        transform: translate(87.000003px, 41px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    66% {
        transform: translate(118.06237px, 14.437633px)
    }

    100% {
        transform: translate(118.06237px, 14.437633px)
    }
}

#eWzj4tSKYev4 {
    animation: eWzj4tSKYev4_c_o $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev4_c_o {
    0% {
        opacity: 0
    }

    23% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        opacity: 1
    }
}

#eWzj4tSKYev6_to {
    animation: eWzj4tSKYev6_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev6_to__to {
    0% {
        transform: translate(64.000001px, 72.553374px)
    }

    23% {
        transform: translate(64.000001px, 72.553374px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        transform: translate(64.000001px, 104.074px)
    }
}

#eWzj4tSKYev7_to {
    animation: eWzj4tSKYev7_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev7_to__to {
    0% {
        transform: translate(64.000001px, 55.446625px)
    }

    23% {
        transform: translate(64.000001px, 55.446625px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        transform: translate(64.000001px, 24.232287px)
    }
}

#eWzj4tSKYev9_to {
    animation: eWzj4tSKYev9_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev9_to__to {
    0% {
        transform: translate(64.000001px, 72.553374px)
    }

    23% {
        transform: translate(64.000001px, 72.553374px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        transform: translate(64.000001px, 104.074px)
    }
}

#eWzj4tSKYev10_to {
    animation: eWzj4tSKYev10_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev10_to__to {
    0% {
        transform: translate(64.000001px, 55.446625px)
    }

    23% {
        transform: translate(64.000001px, 55.446625px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        transform: translate(64.000001px, 24.232287px)
    }
}

#eWzj4tSKYev12_to {
    animation: eWzj4tSKYev12_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev12_to__to {
    0% {
        transform: translate(64.000001px, 72.553374px)
    }

    23% {
        transform: translate(64.000001px, 72.553374px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        transform: translate(64.000001px, 104.074px)
    }
}

#eWzj4tSKYev13_to {
    animation: eWzj4tSKYev13_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev13_to__to {
    0% {
        transform: translate(64.000001px, 55.446625px)
    }

    23% {
        transform: translate(64.000001px, 55.446625px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        transform: translate(64.000001px, 24.232287px)
    }
}

#eWzj4tSKYev15_to {
    animation: eWzj4tSKYev15_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev15_to__to {
    0% {
        transform: translate(64.000001px, 72.553374px)
    }

    23% {
        transform: translate(64.000001px, 72.553374px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        transform: translate(64.000001px, 104.074px)
    }
}

#eWzj4tSKYev16_to {
    animation: eWzj4tSKYev16_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev16_to__to {
    0% {
        transform: translate(64.000001px, 55.446625px)
    }

    23% {
        transform: translate(64.000001px, 55.446625px);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    100% {
        transform: translate(64.000001px, 24.232287px)
    }
}

#eWzj4tSKYev17 {
    animation: eWzj4tSKYev17_c_o $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev17_c_o {
    0% {
        opacity: 1
    }

    33% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

#eWzj4tSKYev18_to {
    animation: eWzj4tSKYev18_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev18_to__to {
    0% {
        transform: translate(74.106752px, 30px);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
    }

    33% {
        transform: translate(64px, 65.20545px)
    }

    100% {
        transform: translate(64px, 65.20545px)
    }
}

#eWzj4tSKYev19_to {
    animation: eWzj4tSKYev19_to__to $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev19_to__to {
    0% {
        transform: translate(97.106752px, 46.893251px);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
    }

    33% {
        transform: translate(64px, 65.20545px)
    }

    100% {
        transform: translate(64px, 65.20545px)
    }
}

#eWzj4tSKYev26_tr {
    animation: eWzj4tSKYev26_tr__tr $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev26_tr__tr {
    0% {
        transform: translate(135.33781px, 207.03926px) rotate(720deg);
        animation-timing-function: cubic-bezier(0.415, 0.08, 0.115, 0.955)
    }

    100% {
        transform: translate(135.33781px, 207.03926px) rotate(626.493506deg)
    }
}

#eWzj4tSKYev27_tr {
    animation: eWzj4tSKYev27_tr__tr $duration-default linear 1 $direction-default forwards
}

@keyframes eWzj4tSKYev27_tr__tr {
    0% {
        transform: translate(11.12px, 29.9px) rotate(-720deg);
        animation-timing-function: cubic-bezier(0.415, 0.08, 0.115, 0.955)
    }

    100% {
        transform: translate(11.12px, 29.9px) rotate(-626.493506deg)
    }
}