/*
    Simple grid styles
*/

$increments: 1, 2, 3, 4;

.grid-cols-none {
    grid-template-columns: none;
}

@each $count in $increments {
    .grid-cols-#{$count} {
        grid-template-columns: repeat($count, minmax(0, 1fr));
    }
}

$bp: md;

.#{$bp}\. {
    &grid-cols-none {
        grid-template-columns: none;
    }
}

@each $count in $increments {
    .#{$bp}\.grid-cols-#{$count} {
        grid-template-columns: repeat($count, minmax(0, 1fr));
    }
}

$bp: lg;

.#{$bp}\. {
    &grid-cols-none {
        grid-template-columns: none;
    }
}

@each $count in $increments {
    .#{$bp}\.grid-cols-#{$count} {
        grid-template-columns: repeat($count, minmax(0, 1fr));
    }
}

@each $count in $increments {
    .#{$bp}\.col-#{$count} {
        grid-column: span #{$count}/span #{$count};
    }
}

@each $count in $increments {
    .col-start-#{$count} {
        grid-column-start: $count;
    }
}

.grid-rows-none {
    grid-template-rows: none;
}

@each $count in $increments {
    .grid-rows-#{$count} {
        grid-template-columns: repeat($count, minmax(0, 1fr));
    }
}