@use "../config/" as v;
@use 'sass:math';

.site-header {
    display: flex;
    gap: v.$unit * 3;
    
    @media (min-width: v.$breakpoint-sm) {
        align-items: center;
    }
}

.logo-star {
    display: none;

    @media (min-width: v.$breakpoint-sm) {
        height: auto;
        width: 76px;
        flex: none;
        display: block;

        path {
            fill: var(--vu-color-accent)
        }
    }
}

.site-header-title {
    display: flex;
    color: var(--vu-color-accent);
    justify-content: center;
    flex-direction: column;

    .site-header-title-name {
        line-height: 1.6rem;
        font-weight: bold;
        margin-bottom: .1rem;
    }

    .site-header-title-job {
        line-height: 1.2rem;
        font-weight: bold;
    }
}


.theme-toggle {
    all: unset;
    display: flex;
    margin-left: auto;
    cursor: pointer;
    opacity: .5;
    transition: opacity .35s;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;

    width: 30px;
    height: 30px;

    @media (min-width: v.$breakpoint-sm) {
        width: 36px;
        height: 36px;
        align-self: center;
    }

    &:hover {
        opacity: 1;
    }

    >svg {
        width: 30px;
        height: 30px;
    
        @media (min-width: v.$breakpoint-sm) {
            width: 36px;
            height: 36px;
        }

        .sun,
        .moon {
            transition: transform .35s;
            fill: var(--vu-color-accent);
        }
    }

    &[data-theme="light"] {
        >svg .background {
            fill: var(--vu-bg-primary);
        }
        >svg .sun {
            transform: translateY(0);
            transition-delay: .25s;
        }
        >svg .moon {
            transform: translateY(36px);
            transition-delay: 0;
        }
    }

    &[data-theme="dark"] {
        >svg .background {
            fill: var(--vu-color-accent);
        }
        >svg .sun {
            transform: translateY(36px);
            transition-delay: 0;
        }
        >svg .moon {
            transform: translateY(0);
            transition-delay: .25s;
        }
    }
}


.callout {
    font-family: "Work Sans";
    font-weight: bold;
}

.text-link {
    text-decoration: none;
    line-height: 1;
    padding-bottom: 2px;
    color: var(--vu-text-accent);
    display: inline-block;
    position: relative;
    transition: color .15s;
    z-index: 10;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--vu-text-accent);
        transition: height .15s;
    }

    &:hover {
        color: var(--vu-bg-primary);

        &:after {
            height: 1em;
        }
    }
}

a[data-email] {
    cursor: pointer;
}

p.kontakt b {
    display: none;
}


.intro {
    margin-top: 4rem;

    @media (min-width: v.$breakpoint-sm) {
        margin-top: 6rem;
    }

    &__greeting,
    &__headline {
        @media (min-width: v.$breakpoint-sm) {
            font-size: 2.4rem;
        }
    }
}
