// footer

.site-footer {
  margin-top: 4em;
  padding-bottom: 1em;
  height: 2em;
  transition: all .4s cubic-bezier(.02,.83,.49,1);

  &__link {
    color: rgb(194,194,201);
    font-size: .9em;
    text-decoration: none;
    border-bottom-color: rgb(194,194,201);
  }

  &__link:hover {
    color: rgb(182,35,42);
    border-bottom-color: rgb(182,35,42);
  }
}
