/*
    CSS Variables & style config
*/

:root {
    --vu-lilac-50: #f5f6f9;
    --vu-lilac-100: #e7eaf2;
    --vu-lilac-200: #d5dae8;
    --vu-lilac-300: #b8c2d8;
    --vu-lilac-400: #95a3c5;
    --vu-lilac-500: #7c89b5;
    --vu-lilac-600: #6a73a6;
    --vu-lilac-700: #5e6497;
    --vu-lilac-800: #50547d;
    --vu-lilac-900: #3d405b;
    --vu-lilac-950: #2c2d3f;

    --vu-macchiato-500: #E07A5F;

    --vu-greige-100: #F4F1DE;
    --vu-greige-200: #F2CC8F;

    --vu-yellow-050: hsl(36, 100%, 95%);
    --vu-yellow-200: hsl(36, 100%, 83%);

    --vu-neutral-0: hsl(0, 0%, 100%);
    --vu-neutral-100: hsl(0, 0%, 0%);

    --vu-fontstack-sans: "Comissioner", Arial, Helvetica, sans-serif;
}


:root:not([data-theme="dark"]) {
    color-scheme: light;

    --vu-clr-accent: var(--vu-macchiato-500);
    --vu-bg-primary: var(--vu-greige-100);
    --vu-surface-primary: var(--vu-lilac-900);
    --vu-text-accent: var(--vu-macchiato-500);
    --vu-text-primary: var(--vu-lilac-900);
    --vu-icon-primary: var(--vu-lilac-900);
}

@mixin dark-theme {
    color-scheme: dark;

    --vu-clr-accent: var(--vu-macchiato-500);
    --vu-bg-primary: var(--vu-lilac-900);
    --vu-surface-primary: var(--vu-greige-100);
    --vu-text-accent: var(--vu-macchiato-500);
    --vu-text-primary: var(--vu-greige-100);
    --vu-icon-primary: var(--vu-greige-100);
}

:root[data-theme="dark"] {
    @include dark-theme();
}